---
import MainLayout from "../layouts/MainLayout.astro";
const name = "Luciano"
---

<MainLayout title="Home">
		<h1>{name}</h1>
		<p id="moment"> </p>
	
	<script>
		//Client only
		
		const currentTimeParagraph  = document.getElementById("moment") as HTMLElement
		
		currentTimeParagraph.innerText =`Momento actual: ${new Date().toLocaleTimeString()}`
	</script>
</MainLayout>

